@charset "UTF-8";
/* CSS Document */
/* Override Bootstrap style with !important */
body {
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace" !important;
}

#myScrollSpyBody{
	position: relative;
}

#latestProject img {
  border-radius: 0.9rem;
}

#latestProject .card , #oldProject .card {
  border-radius: 0.9rem;
  overflow: hidden;
}
#oldProjectBG{
	background-color: #1313C6;
	color: aliceblue;
}
#oldProjectBG h5{
	color: #000;
}
#oldProject .card:hover, #latestProject .card:hover{
  display: block;
  /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
  background-color: #fff;
	filter: brightness(90%);
}
#oldProject .card .card-body {
  background-color: transparent;
}
.navbar-nav .nav-item #nav-activ {
  color: #000;
  text-decoration: overline;
  text-decoration-thickness: 0.2rem;
}
a:hover {
  background-color: yellow !important;
}
/*.nav-item #nav-external{
	 background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M185.087-105.869q-32.507 0-55.862-23.356-23.356-23.355-23.356-55.862v-589.826q0-32.74 23.356-56.262 23.355-23.521 55.862-23.521H459v79.783H185.087v589.826h589.826V-459h79.783v273.913q0 32.507-23.521 55.862-23.522 23.356-56.262 23.356H185.087ZM395.001-339 340-395.001l379.912-379.912H519v-79.783h335.696V-519h-79.783v-199.912L395.001-339Z" fill="%23556270"/></svg>');
	background-repeat:no-repeat;
	background-size: 16%;
	padding-right: 1rem;
	background-position: right;	*/