@charset "UTF-8";
/* CSS Document */
body {
  background-color: #F4F7F8;
  font-family: 'Open Sans', sans-serif;
}
#myMobileNavBar {
  background-color: #fff;
  padding: 10px 40px 10px 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
  vertical-align: middle;
}
#myNavBar {
  border-bottom: thin solid #CDCDCD;
  background-color: #fff;
}
/* -- (A) customize Bootstrap's navBar style  */
#myNavBar .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#myNavBar .navbar-nav .externalURL {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 -960 960 960'%3e%3cpath d='M179.435-105.869q-32.74 0-56.262-23.356-23.522-23.355-23.522-55.862v-589.826q0-32.74 23.522-56.262 23.522-23.521 56.262-23.521h294.956v79.783H179.435v589.826h294.956v79.218H179.435Zm487.13-178.782-57.131-56.001 99.739-99.739H367.652v-79.218h339.521l-99.739-99.739 57.131-56.001L860.349-479 666.565-284.651Z'/%3e%3c/svg%3e");
}
#myNavBar .navbar-brand, #myFooter-Brand {
  font-weight: 500;
  color: #000;
  letter-spacing: .1rem;
}
/* END of (A) */
#myNavBar a, #myFooter a {
  color: #555555;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
}
#myNavBar a:hover, #myFooter a:hover {
  color: #002199;
  text-decoration: underline;
}
#myNavToggle {
  background-color: #eee;
  border-radius: 30px;
}
/* HOME */
.opening {
  text-align: center;
}
#latestProject {
  background-color: #FFF6EF;
  padding: 0px;
}
.latestProject-group {
  /*padding-top: 1rem;
	 padding-bottom: 1rem; */
  border-radius: 1.5rem;
  padding: 0px;
  margin: 0px;
}
.latestProject-col {
  padding: 0px;
  margin: 15px;
}
.latestProject-group p {
  font-size: 1.2rem;
}
.latestProject-group a {
  color: #000;
}
.latestProject-group:hover {
  filter: brightness(90%);
  background-color: #FFF6EF;
}
#latestProject, #oldProject {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#latestProject img {
  border-radius: 0.9rem;
  margin: 0px;
}
#oldProject {
  background: #fff;
}
#oldProject .opening {
  margin-bottom: 2rem;
}
#oldProject .card {
  border-radius: 0.9rem;
  overflow: hidden;
}
#oldProject .card-deck {
  margin-left: 0px;
  margin-right: 0px;
}
#oldProject h5 {
  color: #000;
}
#oldProject .card .card-text {
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #797979;
}
#oldProject .card:hover {
  display: block;
  /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
  background-color: #fff;
  filter: brightness(90%);
}
#oldProject .oldProject-card {
  margin-left: 0;
  margin-right: 0;
}
#oldProject .card .card-body {
  background-color: #fff;
}
#myFooter {
  font-size: 0.85rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-bottom: 100px;
}
#myFooter-nav {
  margin-left: 2rem;
  margin-right: 2rem;
}
#myFooter-nav a {
  display: block;
  margin: 1rem;
}
/* content style */
#myContent {
  background-color: #fdfdf9;
  color: #333333;
}
#myContent #myContent-hero {
  padding-top: 50px;
	padding-bottom: 50px;
  margin-left: 0px;
  max-width: 880px;
  text-align: center;
	
}
#myContent #myContent-hero p {
  font-size: 1.3rem;
  color: #505050;
}
#mySideNav {
  top: 30px;
  position: sticky;
  display: block;
  font-size: 0.9rem;
}
#mySideNav-heading{
	font-weight: 600;
	
}
#mySideNav ul {
  font-size: 1rem;
  border-left: 0.1rem solid #eee;
}
#mySideNav a {
  color: #666;
}
#mySideNav .active, #mySideNav a:checked {
  color: #E82427 !important;
}
#mySideNav li {
  list-style: none;
}
.mySectionGroup {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.mySectionGroup-title-v1 {
  text-align: center;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
}
.mySectionGroup-title {
  margin-top: 30px;
  text-align: center;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
}
.mySectionGroup-heading span {
  padding-top: 3px;
  display: inline-block;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  vertical-align: middle;
  font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
  float: left;
  margin-right: 1rem;
}
.mySectionGroup h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  text-decoration: overline;
  text-decoration-color: #0052D7;
  /*text-decoration-thickness: 0.1rem;*/
}
.mySectionGroup h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}
.mySectionGroup-screenshot {
  background-color: #eee;
  padding-top: 1rem;
}
.mySectionGroup-screenshot img {
  width: 100%;
  height: auto;
}
.mySectionGroup-screenshot p {
  text-align: center;
  font-size: 0.8rem;
}