@charset "UTF-8";
/* CSS Document */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
	
}
#MyNavBarContent .navbar-nav .active {
  color: #AEAEAE;
}
#myMobileNavBar {
  background-color: #fff;
  padding: 10px 40px 10px 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
  vertical-align: middle;
}
#myNavBar {
  border-bottom: thin solid #CDCDCD;
  background-color: #fff;
}
/* -- (A) customize Bootstrap's navBar style  */
#myNavBar .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#myNavBar .navbar-nav .externalURL {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 -960 960 960'%3e%3cpath d='M179.435-105.869q-32.74 0-56.262-23.356-23.522-23.355-23.522-55.862v-589.826q0-32.74 23.522-56.262 23.522-23.521 56.262-23.521h294.956v79.783H179.435v589.826h294.956v79.218H179.435Zm487.13-178.782-57.131-56.001 99.739-99.739H367.652v-79.218h339.521l-99.739-99.739 57.131-56.001L860.349-479 666.565-284.651Z'/%3e%3c/svg%3e");
}
#myNavBar .navbar-brand a {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
#myNavBar .navbar-brand, #myFooter-Brand {
  font-weight: 500;
  color: #000;
  letter-spacing: .1rem;
}
/* END of (A) */
#myNavBar a, #myFooter a {
  color: #555555;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
}
#myNavBar a:hover, #myFooter a:hover {
  /*color: #002199;*/
	color: #E82427;
  text-decoration: none;
}
#myNavToggle {
  background-color: #eee;
  border-radius: 10px;
}
/* HOME */
.opening {
  text-align: center;
  margin-bottom: 3rem;
}
.opening p {
  font-size: 1.3rem;
  color: #505050;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#latestProject {
  background-color: #FFFEF8;
  padding: 0px;
}
/* 共同風格*/
#latestProject, #oldProject {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#latestProject h3, #oldProject h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
#latestProject .card-deck, #oldProject .card-deck {
  margin-left: 0px;
  margin-right: 0px;
}
#latestProject .card, #oldProject .card {
  border-radius: 0.9rem;
  overflow: hidden;
  margin: 0px 0px 2rem 0px;
}
#latestProject .card:hover, #oldProject .card:hover {
  display: block;
  /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
  background-color: #fff;
  filter: brightness(90%);
}
#latestProject h5, #oldProject h5 {
  color: #000;
  /*display: block;
	margin-bottom: 0px;
	min-height: 56px;*/
}
.latestProject-group {
  /*padding-top: 1rem;
	 padding-bottom: 1rem; */
  border-radius: 1.5rem;
  padding: 0px;
  margin: 0px;
}
.latestProject-col {
  padding: 0px;
  margin: 15px;
}
.latestProject-col .textGroup {
  display: table-cell;
  vertical-align: middle;
  height: 292px;
  padding-left: 15px;
}
.latestProject-group p {
  font-size: 1.5rem;
}
.latestProject-group a {
  color: #000;
}
.latestProject-group:hover {
  filter: brightness(90%);
  background-color: #FFF6EF;
}
.latestProject-group .badge, .oldProject-card .badge {
  border-radius: 1rem;
  padding: 0.4em 1em 0.4em 1em;
  /*background:#F4F3EF;
	color: #333;*/
  font-weight: normal;
  font-size: 0.7rem;
}
.latestProject-group .badge {
  font-size: 0.7em;
}
/* #latestProject img {
  border-radius: 0.9rem;
  margin: 0px;
}*/
#oldProject {
  background: #F4F3EF;
}
#oldProject .card .card-text {
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #333;
  display: block;
  min-height: 2.5rem;
}
#oldProject .oldProject-card {
  margin-left: 0;
  margin-right: 0;
}
#oldProject .card .card-body {
  background-color: #fff;
}
#oldProject .prjType-personal {
  font-size: 0.8rem;
  color: #777;
}
#oldProject .prjType-client {
  font-size: 0.8rem;
  color: #777;
}
#oldProject .prjClass {
  font-size: 0.8rem;
  color: #888;
  /*font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"*/
}

#oldProject a{
	text-decoration: none;
}


#myFooter {
  font-size: 0.85rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-bottom: 100px;
}
#myFooter-nav {
  margin-left: 2rem;
  margin-right: 2rem;
}
#myFooter-nav a {
  display: block;
  margin: 0.4rem;
}
/* content style */
#myContent {
  background-color: #fdfdf9;
  color: #333333;
	border-bottom: thin solid #CDCDCD;
}
/* Not in used
#myContent .divider{
	margin-top: 3rem;
	text-align: center;
	color: #959595;
} */
#myContent #about-hero {
  padding: 60px 0px 40px 0px;
}
#myContent #about-hero h1 {
  font-size: 4rem;
  font-weight: lighter;
  text-align: center;
  color: #000;
  padding: 0px 0px 1.5rem 0px;
}
#myContent #about-hero p {
  text-align: left;
}

#myContent #about-hero .myProfile{
	max-width: 80%;
	border-radius: 50%;
}


#myContent #myContent-hero {
  padding: 60px 0px 40px 0px;
	text-align: center;
}
#myContent #myContent-hero p, .mySectionGroup-heading p {
  font-size: 1.25rem;
  color: #353535;
  padding: 0px;
  margin-top: 1rem;
  line-height: 120%;
}
#myContent #myContent-hero h1, #myContent #myContent-hero h1 {
  font-size: 4rem;
  font-weight: lighter;
  text-align: center;
  color: #000;
  padding: 0px;
}
#mySideNav {
  top: 30px;
  position: sticky;
  display: block;
  font-size: 0.9rem;
}
#mySideNav ul {
  font-size: 0.8rem;
  /*border-left: 0.1rem solid #eee;*/
  padding-left: 0px;
}
#mySideNav a {
  color: #666;
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	display: block;
  
	border-left: thin #CDCDCD solid;

}

#mySideNav .active, #mySideNav a:checked {
  color: #E82427 !important;
	border-left: 2px #E82427 solid;
}
#mySideNav li {
  list-style: none;
  padding-left: 0px;

	
	
	
	
}
.mySectionGroup {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}
#myContent h2, h3, h4, #mySideNav-heading {
  color: #000;
  font-weight: bold;
}
#myContent h2 {
  font-size: 2rem;
}
#myContent h3 {
  font-size: 1.5rem;
}
#myContent h4 {
  font-size: 1rem;
}
#myContent .headingTag {
  font-size: 1rem;
}
#myContent .sub {
  margin-top: 2rem;
}
#myContent .categoryHeading {
  margin-bottom: 1rem;
}
.mySectionGroup-heading {
  margin-bottom: 1rem;
}
.mySectionGroup-title {
  margin-top: 30px;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}
.mySectionGroup-screenshot {
  background-color: #F6F5F1;
  margin-top: 1rem;
  padding: 0px;
}
/* Screenshot style */
.mySectionGroup-screenshot .screenshot img, .genScreenshot img, .topScreenshot img {
  max-width: 100%;
  height: auto;
  /*margin-bottom: 16px;*/
}
/* Caption style */
.mySectionGroup-screenshot .screenshot p, .genScreenshot p {
  /*text-align: center;*/
  font-size: 0.9rem;
  margin: 16px 32px 16px 32px;
}
/* END Caption style */
#myContent #projectBrief {
  background: #FFF9E0;
  padding: 2rem 2rem 1rem 2rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.mySectionGroup .paragraph{
margin-bottom: 2rem;	
	margin-top: 1rem;
}
.mySectionGroup .tools .tools-block img{
 max-height: 2.8rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.3rem;
}

.mySectionGroup .tools .tools-block{
	display: inline-block;
	margin-right: 5px;
	width: 4rem;
}
.mySectionGroup .tools .tools-block p{
	display: block;
	font-size: 0.7rem;
	color: #3A3A3A;
	min-width: inherit;
	text-align: center;
}


.mySectionGroup-screenshot .info {
  background: #FFF9E0;
  padding: 2rem 1rem 2rem 1rem;
}
.mySectionGroup-screenshot .info p {
  padding: 0px;
  margin: 0px;
}
.mySectionGroup-screenshot .info ol {
  padding-left: 1.3rem;
}
.mySectionGroup-screenshot .info li {
  margin-bottom: 0.2rem;
  padding-left: 0.2rem;
}
.mySectionGroup-screenshot .info img {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.mySectionGroup-screenshot .captionNum {
  text-align: center;
  display: inline-block;
  width: 24px;
  border-radius: 12px;
  font-size: 0.75rem;
  margin-bottom: 2px;
  color: #fff;
  background-color: #363E48;
  margin-right: 4px;
}
.genScreenshot {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.topScreenshot {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0.5rem;
}
.auditTXT{
	margin-top: 1.5rem;
}
.audit img{
	max-width: 100%;
	border-radius: 8px;
}

.audit .suggestion, .audit .original{
	border-radius: 15px;
	padding: 8px 12px 12px 12px;
	display: inline-block;
	max-width: 49%;
}
.audit .issueR, .audit .issueL{
	/* background:#FFDEDE;*/
	border-radius: 15px;
	padding: 0.5rem;
	display: inline-block;
	max-width: 49%;
	
}
.audit .issue .caption, .audit .issueR .caption, .audit .issueL .caption{
	font-size: 0.8rem;
	margin-top: 0.5rem;
	text-align: center;
	
}
.audit .issue{
	border-radius: 15px;
	padding: 0.5rem;
	display: block;
	max-width: 48%;
	margin-left: auto;
	margin-right: auto;
	
}
.audit .issueL{
	float: left;
	
}
.audit .issueR{
	float: right;
	
}
.audit .original{
	background:#D2D2D2;
	
}
.audit .suggestion{
	background:#e0f6ed;
	float: right;
}
.audit .issue .header,.audit .issueR .header, .audit .suggestion .header, .audit .original .header{
	font-size: 0.8rem;
	text-align: center;
	margin-bottom: 8px;
	font-weight: bold;
}

.audit .issue .header, .audit .issueR .header{
	color: #7D1D1F;
}
.audit .suggestion .header{
	color: #28461C;
}
.audit .original .header{
	color: #333333;
}
.myTable  {
margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	width: 100%;
}

.myTable th, td {
  padding: 0.9rem;
border: 1px solid #888;}

/* Style the buttons that are used to open and close the accordion panel */
.mySectionGroup .accordion {
	background-color: transparent;
  color: #000;
  cursor: pointer;
  padding: 0.9rem;
  width: 100%;
 border-bottom: thin #ccc solid;
	border-top: none;
	border-left: none;
	border-right: none;
  outline: none;
  font-size: 1.2rem;
  font-weight:bold;
	text-align: left;
  transition: 0.4s;
	
}

.mySectionGroup .showContent, .accordion:hover {
	outline: none;
	background-color: #EBEBEB;
}

.mySectionGroup .panel {
  padding: 0;
   background-color: #F6F5F1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.mySectionGroup .panel .panelContent{
	margin: 0.8rem 0 0.8rem 0.8rem;
}
.mySectionGroup .accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
	color: #0069FE;
}

.mySectionGroup .showContent:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
	
	
}